@media screen and (min-width:1200px){
.container{
    width: 1158px;
}
.section-wrap{
    flex-wrap: nowrap;
    gap: 24px;
}
.section-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: left;
margin-bottom: 8px;
}

.description{
font-size: 16px;
line-height: 1.5;
max-width: 264px;
font-weight: 400;
}

.section-no-padding{
 display: block;
  
}

.clients-item{
width: calc((100% - 120px) / 6);

}

.section-wrap > .item:nth-child(odd){
  margin-bottom: 0;
  
}

.section-wrap > .item:nth-child(even){
  margin-bottom: 0;
  
}

.section-clients{
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.section-advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-title{
    margin-bottom: 48px;
}
.hero-section{
padding-top: 120px;
padding-bottom: 120px;
} 

/* 
.hero-title{
margin-bottom: 48px;
max-width: 494px;
max-height: 120px;

}
.hero-section{
padding-top: 120px;
padding-bottom: 120px;
} */

.section-team{
padding-top: 120px;
padding-bottom: 120px;
}


.section-wrapper > .item {
width: calc(( 100% - 72px) / 4)
}

}