@media screen and (min-width:480px){
.container{
    max-width: 426px;
  
}
.section-wrap{
    flex-wrap: wrap;
    text-align: center;
}
.section-no-padding{
 display: none;
  
}




}

@media screen and (max-width:1199px){
.advantages-icon{
    display: none;
}

}