@media screen and (min-width:480px){
.container{
width: 426px;
  
}




.section-wrap{
    flex-wrap: wrap;
    text-align: center;
}

.section-no-padding{
 display: none;
  
}

.section-wrap > .item:not(:last-child){
  margin-bottom: 72px;
}

.hero-section  {
  background-image: var(--gradient),url(../images/tablet-bg.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section{
   background-image: var(--gradient),url(../images/tablet-bg@2x.jpg);
  }
}
}

@media screen and (max-width: 767px){
.active::after{
  display: none;
}
}

@media screen and (max-width: 418px){
.mob-menu-tel-link{
  font-size: 21px;
}


.mob-menu-link-list{
  gap: 20px;
}
}



@media screen and (max-width:1199px){
.advantages-icon{
    display: none;
}

}

@media screen and (max-width:1199px){
    .section-no-padding{
    display: none;
}}

/* @media screen and (max-width:467px){
    .section-wrap > .item:not(:last-child){
  margin-bottom: 72px;
}
} */




